@using Websitebansach.Models;
@using PagedList.Mvc;
@model PagedList.IPagedList<Sach>

<link href="~/Content/TrangChu.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/NguoidungLayout.cshtml";
}
<h2>
    Sách đang bán
</h2>
@section Noidungbenphai {
    <div>
        Website bán sách
    </div>
}

<div id="divBody">
    @{ int i = 0;}
    @foreach (var item in Model)
    {
        i++;
        <div id="SPsach">
            <a href="@Url.Action("XemChiTiet","Sach",new {@MaSach=item.MaSach})">
                <div id="AnhBia"><img src="@Url.Content("~/HinhAnh/"+item.AnhBia)" /> </div>

                <div id="ThongTin">

                    <div id="TenSach">@item.TenSach</div>
                    <div id="DonGia" style="color:orange"><font color="green">Giá: </font>@String.Format("{0:0,0}", item.GiaBan + " VNĐ")</div>

                </div>
                <div id="GioHang">
                    @using (Html.BeginForm("ThemGioHang", "GioHang", new { @iMaSach = item.MaSach, @strURL = Request.Url.ToString() }))
                    {
                        <input type="submit" style="cursor: pointer" value="Mua hàng &#xf07a;" id="btnGioHang" class="btn btn-primary">
                    }
                </div>
            </a>
        </div>
        if (i % 4 == 0)
        {
            <div style="clear:both"></div>
        }
    }
</div>
<div style="clear:both"></div>

Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount;
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>